<!DOCTYPE html>
<html>
  <head>
    <title>BetterMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to "修改資料", edit_user_registration_path %>
      <%= link_to "登出", destroy_user_session_path, method: "delete" %>
    <% else %>
      <%= link_to "登入", new_user_session_path %>
      <%= link_to "忘記密碼", new_user_password_path %>
      <%= link_to "註冊", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">

      <%= yield %>
    </div>
  </body>
</html>
